<footer class="page-footer blue darken-2">
  <div class="footer-copyright">
    <div class="container">
      Rate / Hate / Contribute: <a class="blue-text darken-2 text-lighten-3" href="https://github.com/rob-murray/haz-commitz">rob-murray/haz-commitz</a>
    </div>
  </div>
</footer>
