<% content_for :title do %>
  Add repository &middot; Haz Commitz
<% end %>

<div class="container" id="new">
    <h3>Add Repository</h3>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <p>Get a Haz Commitz rating about your GitHub repository and get a badge by telling us the repo name.</p>

            <% if flash.has_key? :error %>
                <div class="alert alert-warning">
                    <p><%= flash[:error] %></p>
                </div>
            <% end %>

            <form role="form" action="/repos/new" method="post">
                <div class="form-group">
                    <label for="add-repo-input">GitHub repo name</label>
                    <input type="text" class="form-control" id="add-repo-input" name="repo_path" placeholder="Enter GitHub repository: user-name/repository-name">
                </div>
          
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <hr>

    <%= render_partial :footer %>

</div> <!-- /container -->